<h1>Stats</h1>

<h2>Registered Members</h2>
<table>
    <thead>
        <td>Email</td>
        <td>Username</td>
        <td>Password</td>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$ | async">
            <td id="email">{{ user.email }}</td>
            <td>{{ user.displayName}}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.created }}</td>
            <td><input type="button" value="delete" (click)="onSubmit(user)" /></td>
        </tr>
    </tbody>
</table>

<hr>

<a routerLink="/">Home</a>