<main *ngIf="user$ | async as user">
    <div class="user-info">
        <div class="pfp" [ngStyle]="{'background-image':'url(/images/' + user.pfp + ')'}"></div>
        <div class="test"></div>
        <div class="user-text">
            <div class="user-name-pronouns">
                <h2 id="displayname">
                    {{user.displayName}}
                </h2>
                <p>
                    {{user.pronouns}}
                </p>
            </div>
            <p>{{user.userPosts?.length}} Posts</p>
            <p class="bio">{{user.bio}}</p>
        </div>
    </div>
    <div *ngIf="user" class="tabs">
        <mat-tab-group #tabGroup>
            <mat-tab label="Posts" *ngIf="user.userPosts" class="display-posts">
                <a *ngFor="let post of user.userPosts" [href]="'post/' + post.id">
                    <img class="thumbnail" [src]="'/images/' + post.img">
                </a>
            </mat-tab>
            <mat-tab label="Private">
                <p>Coming Soon</p>
            </mat-tab>
            <mat-tab label="Favorite Posts">
                <p>Coming Soon</p>
            </mat-tab>
            <mat-tab label="Saved Challenges">
                <div *ngFor="let challenge of user.savedChallenges" class="prompt">
                    <p class="prompt-title">Prompt:</p>
                    <div class="prompt-text">
                    <p *ngIf="(challenge.adj) || (challenge.noun) || (challenge.verb)">{{challenge.adj}} {{challenge.noun}} {{challenge.verb}}</p>
                    <p *ngIf="(challenge.emotion)"> displaying "{{challenge.emotion}}"</p>
                    <p *ngIf="(challenge.style)"> in the style "{{challenge.style}}"</p>
                    </div>
                    <div *ngIf="(challenge.colors).length > 0" class="colors">
                        <div class="color" *ngFor="let color of challenge.colors">
                          <div class="color-box" [ngStyle]="{'background-color': color}"></div>
                          <p id="hex">{{color}}</p>
                        </div>
                    </div>
                    <button id="me" type="submit" (click)="onSubmit(challenge)">
                        <p>Create Submission</p>
                    </button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div label="Posts" *ngIf="user.userPosts" class="display-posts">
        <!-- <div *ngFor="let post of user.userPosts" class="thumbnail" [ngStyle]="{'background-image':'url(/images/' + post.img + ')'}"></div> -->
    </div>
    <button id="logout" type="submit" (click)="logOut()">
        <p>Logout</p>
    </button>
</main>