<main *ngIf="user$ | async as user">
    <div class="user-info">
        <div class="pfp" [ngStyle]="{'background-image':'url(/images/' + user.pfp + ')'}"></div>
        <div class="test"></div>
        <div class="user-text">
            <div class="user-name-pronouns">
                <h2 id="displayname">
                    {{user.displayName}}
                </h2>
                <p>
                    {{user.pronouns}}
                </p>
            </div>
            <p>{{user.userPosts?.length}} Posts</p>
            <p class="bio">{{user.bio}}</p>
        </div>
    </div>
    <div *ngIf="user" class="tabs">
        <mat-tab-group #tabGroup>
            <mat-tab label="Posts" *ngIf="user.userPosts" class="display-posts">
                <a class="thumbnail-container" *ngFor="let post of user.userPosts" [href]="'post/' + post.id">
                    <img class="thumbnail" [src]="'/images/' + post.img">
                    <div class="overlay">
                        <div class="text">{{post.title}}</div>
                    </div>
                </a>
            </mat-tab>
            <mat-tab label="Private">
                <p>Coming Soon</p>
            </mat-tab>
            <mat-tab label="Favorite Posts">
                <p>Coming Soon</p>
            </mat-tab>
            <mat-tab label="Saved Challenges">
                <p>Coming Soon</p>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div label="Posts" *ngIf="user.userPosts" class="display-posts">
        <!-- <div *ngFor="let post of user.userPosts" class="thumbnail" [ngStyle]="{'background-image':'url(/images/' + post.img + ')'}"></div> -->
    </div>
    <button id="logout" type="submit" (click)="logOut()">
        <p>Logout</p>
    </button>
</main>