main {
    display:flex;
    align-items: center;
    flex-direction: column;
}

#displayname {
    margin:none;
    font-size: 24px;
}

.edit {
    cursor: pointer;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 2rem;
    min-width: 70%;
    max-width:90%;
    margin:2rem;
}

.pfp {
    height:200px;
    width:200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.user-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.user-name-pronouns {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 0px;
    gap: 10px;
}

.bio {
    width:20rem;
    min-height:2rem;
}

.tabs {
    margin:1rem;
    min-width: 70%;
    max-width: 90%;
}

.display-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.thumbnail-container {
    display: inline-block;
    width: 22vw;
    height: 22vw;
    margin: 2px;
}

.thumbnail {
    width: 100%;
    height: 100%;   
    margin: 2px;
    object-fit: cover;
    cursor: pointer;
}

.overlay {
    position: absolute;
    margin: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #000;
}

.thumbnail-container:hover .overlay {
    opacity: 0.6;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
  
#logout {
    background-color: white;
    color:black;
    border: 1px solid black;
    transition: all 300ms;
}

#logout:hover {
    background-color: rgb(0, 0, 0);
    color:white;
    border: 1px solid black;
}

mat-mdc-tab-body-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prompt svg {
    margin-left: 1rem;
}

.prompt {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.prompt-content {
    display:flex;
    align-items: center;
    flex-direction: column;
}