<main class="background">
    <div class="content">
        <h1>About Around the Block</h1>
        <p>Welcome to Around the Block, the online platform for artists looking to challenge themselves and connect with a community of creatives. Whether you're a beginner or an experienced artist, our website offers a fun and inspiring way to spark your creativity and push your artistic boundaries.</p>
        <p>At Around the Block, you can generate random art challenges, called meChallenges, that will challenge you to create something new and unique every time. You can also participate in community challenges, called weChallenges, and see what other artists are creating. And when you're ready to show off your own work, you can post your submissions for the challenges and get feedback and support from other members of the community.</p>
        <p>Our website is designed to be easy to use and accessible to artists of all skill levels. Whether you're looking for inspiration, motivation, or just a fun way to pass the time, Around the Block has something for everyone.</p>
    </div>
</main>