.account {
    font-family: 'Overpass', sans-serif;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

.mat-sidenav-container {
    height: 100%;
}
  
.mat-sidenav {
    width: 200px;
}
  
.mat-sidenav-content {
    margin-left: 250px;
}

mat-toolbar, mat-sidenav{
    background-color: #ffffff;
    border-color: black;
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.search, .account {
    display: flex;
    margin: 0;
    padding: 0;
}

::ng-deep .mat-drawer-content, .mat-sidenav-content{
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
    padding: 0 20px;
}

::ng-deep .mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 5px 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: fit-content;
    border-color: black;
    border-radius: 10px;
}

.spacer {
    flex: 1;
}