.mat-sidenav-container {
    height: 100%;
}
  
.mat-sidenav {
    width: 250px;
}
  
.mat-sidenav-content {
    margin-left: 250px;
}

mat-toolbar, mat-sidenav{
    background-color: #ffffff;
    border-color: black;
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
}

mat-sidenav-content {
    padding: 0;
}
  