<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon routerLink="/">image</mat-icon>
  <span routerLink="/">around the block</span>
  <span class="spacer"> </span>
  <mat-icon routerLink="/">style</mat-icon>
  <mat-icon>notifications</mat-icon>
  <p class="search">search</p>
  <p *ngIf="isLoggedin; else elseBlock" class="account" routerLink="/login">
    <mat-icon>account_box</mat-icon>
    login/signup
  </p>
  <ng-template #elseBlock>
    <mat-icon>account_box</mat-icon>
    account
  </ng-template>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item routerLink="/stats">Stats</a>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>