<main>
    <div class="challenge we">
        <h2>weChallenge #</h2>
        <p>Participate in this week's global art challenge!</p>
        <div class="prompt we-prompt" *ngIf="(current$ | async) as current">
            <p class="prompt-title">Prompt:</p>
            <p>{{ current.adj }} {{ current.noun }} {{ current.verb }} {{ current.emotion }}</p>
        </div>
        <p *ngIf="(current$ | async) as current"> {{current.start | date: "MMM d, y"}} - {{current.end | date: "MMM d, y"}}</p>
        <p>Time remaining:</p>
        <h1 id="countdown">Countdown</h1>
        <button type="button" class="go" id="we" routerLink="/we-challenge">
            <p>Go</p>
        </button>
    </div>
    <div class="challenge me">
        <h2>meChallenge</h2>
        <p>Make your own custom art challenge!</p>
        <p>Randomly generate color palettes, styles, subjects, and more!</p>
        <button type="button" class="go" id="me" routerLink="/me-challenge">
            <p>Go</p>
        </button>
    </div>
    <h1 id="divider-text">Past Challenges</h1>
    <div class="past-we">
        <h2>weChallenge #</h2>
        <div class="prompt we-prompt" *ngIf="previous">
            <p class="prompt-title">Prompt:</p>
            <p>{{ previous.adj }} {{ previous.noun }} {{ previous.verb }} {{ previous.emotion }}</p>
        </div>
        <div class="display-posts">
            <!-- TODO: Replace with weposts -->
            <div class="thumbnail">
                
            </div>
            <div class="thumbnail">
                <img src="/images/post0.png" alt="">
            </div>
        </div>
    </div>
    <div class="past-me">
        <h2>meChallenges</h2>
        <div class="display-posts">
            <a *ngFor="let post of mePosts$ | async" [href]="'post/' + post.id">
                <img class="thumbnail" [src]="'/images/' + post.img">
            </a>
        </div>
    </div>
</main>