<main>
    <div class="introduction" *ngIf="!isLoggedin">
        <div class="intro-container">
            <h1>Welcome to Around the Block!</h1>
            <p>Are you an artist looking for a new challenge? Or stuck with creative block? Then you've found the right place!</p>
            <p>Participate in community-wide art prompts called <span style="color: #00b448; font-weight: bold;" routerLink="/we-challenge">weChallenges</span> or generate your own art prompts called <span style="color: #e841ad; font-weight: bold;" routerLink="/me-challenge">meChallenges</span>!</p>
            <a id="create-account" href="/login">
                <h2 style="text-decoration: underline;">Create an account to share your work</h2>
            </a>
            <h3>or</h3>
            <a href="#challenges">
                <h2>Continue Exploring</h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="challenge we" id="challenges">
        <h2>weChallenge #{{(weChallenges$ | async)?.length}}</h2>
        <p>Participate in this week's global art challenge!</p>
        <div class="prompt we-prompt" *ngIf="(current$ | async) as current">
            <div class="prompt-content">
                <p class="prompt-title">Prompt:</p>
                <p> {{ current.adj }} {{ current.noun }} {{ current.verb }} {{ current.style }} {{ current.emotion }} </p>
                <div *ngIf="(current.colors).length > 0" class="colors">
                    <div class="color">
                    <div class="color-box" [ngStyle]="{'background-color': current.colors[0]}"></div>
                    <p id="hex">{{current.colors[0]}}</p>
                </div>
            </div>
            <div class="icon" (click)="save(current)" *ngIf="isLoggedin && !(saved[current.id!])">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16" aria-label="Save challenge" id="save-icon">
                    <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                    <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
                </svg>
            </div>
            </div>
            <div class="icon" (click)="unsave(current)" *ngIf="isLoggedin && (saved[current.id!])">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bookmarks-fill" viewBox="0 0 16 16">
                    <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"/>
                    <path d="M4.268 1A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L13 13.768V2a1 1 0 0 0-1-1H4.268z"/>
                </svg>
            </div>
        </div>
        <p *ngIf="(current$ | async) as current"> {{current.start | date: "MMM d, y"}} - {{current.end | date: "MMM d, y"}}</p>
        <p>Time remaining:</p>
        <h1 id="countdown">{{ countdown}}</h1>
        <button type="button" class="go" id="we" routerLink="/we-challenge">
            <p>Go</p>
        </button>
    </div>
    <div class="challenge me">
        <h2>meChallenge</h2>
        <p>Make your own custom art challenge!</p>
        <p>Randomly generate color palettes, styles, subjects, and more!</p>
        <button type="button" class="go" id="me" routerLink="/me-challenge">
            <p>Go</p>
        </button>
    </div>
    <h1 id="divider-text">Past Challenges</h1>
    <div class="past-we" *ngIf="((weChallenges$ | async)!.length - 1) as prevNum">
        <h2 routerLink="/past-challenges">weChallenge #{{ prevNum }}</h2>
        <div class="prompt we-prompt" *ngIf="(prev$ | async) as prev">
            <div class="prompt-content">
                <p class="prompt-title">Prompt:</p>
                <p>{{ prev.adj }} {{ prev.noun }} {{ prev.verb }} {{ prev.style }} {{ prev.emotion }}</p>
                <div *ngIf="(prev.colors).length > 0" class="colors">
                    <div class="color">
                    <div class="color-box" [ngStyle]="{'background-color': prev.colors[0]}"></div>
                    <p id="hex">{{prev.colors[0]}}</p>
                    </div>
                </div>
            </div>
            <div class="icon" (click)="save(prev)" *ngIf="isLoggedin && !(saved[prev.id!])">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16" aria-label="Save challenge" id="save-icon">
                    <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                    <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
                </svg>
            </div>
            <div class="icon" (click)="unsave(prev)" *ngIf="isLoggedin && (saved[prev.id!])">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bookmarks-fill" viewBox="0 0 16 16">
                    <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"/>
                    <path d="M4.268 1A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L13 13.768V2a1 1 0 0 0-1-1H4.268z"/>
                </svg>
            </div>
        </div>
        <div class="post-grid">
            <a class="thumbnail" *ngFor="let post of wePosts$ | async" [href]="'post/' + post.id" [style]="'background-image: url('+post.img+')'">
                <div class="overlay">
                    <div>
                        <div class="thumbnail-title">{{post.title}}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="past-me">
        <h2>meChallenges</h2>
        <div class="post-grid">
            <a class="thumbnail" *ngFor="let post of (mePosts$ | async)" [href]="'post/' + post.id" [style]="'background-image: url('+post.img+')'">
                <div class="overlay">
                    <div>
                        <div class="thumbnail-title">{{post.title}}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>