main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-bottom:0;
}

.post-img-container {
    display:flex;
    align-items: center;
    justify-content: center;
    height:30rem;
    width:100%;
    background-color: rgb(174, 174, 174);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.post-content {
    width: 85%;
}

.tags {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tag {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    border-radius: 5px;
    padding:4px;
    margin:8px;
    margin-left: 0;
    transition: all 300ms;
    cursor: pointer;
}

.tag:hover {
    transform: scale(1.05)
}

.post-title {
    display:flex;
    flex-direction: row;
    align-items: baseline;
}

.fav-icon {
    cursor: pointer;
    margin-left: 1rem;
}

.post-title {
    display:flex;
    flex-direction: row;
    align-items: baseline;
}

.fav-icon {
    cursor: pointer;
    margin-left: 1rem;
    transition: all 300ms ease-out; 
}

.fav-icon:hover {
    transform: scale(1.1); 
}

/* Comments */

.post-comments-container {
    width: 90%;
}

.comment-form {
    display:flex;
    flex-flow: row wrap;
}

mat-form-field {
    min-width: 70%;
}

#black {
    margin-bottom:2rem;
}

#form {
    margin-top:1rem;
}

.comment {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.comment-text input {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    padding: 4px 8px;
    transition: all 300ms;
    cursor: pointer;
}

.comment-text input:hover {
    background-color: black;
    color: white;
}