nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:white;
    list-style-type: none;
    overflow: hidden;
    padding: 0.2rem 0.5rem;
}

p {
    font-size: 14px;
}

.nav-challenge svg, mat-icon {
    margin:0.5rem 0.5rem;
}

.home {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    width: 180px;
}

.nav-challenge {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: all 300ms ease-out;
    min-width: 65px;
}

.nav-challenge:hover {
    font-weight: 600;
}

.unit {
    padding-right:1rem;
}

.search {
    margin:0 2rem;
    display:flex;
    flex-shrink:1;
    align-items: center;
    height:30px;
    border: 1px solid rgb(218, 218, 218);
    outline: 1px solid transparent;
    border-radius: 25px;
    transition: all 300ms;
}

.search:hover {
    border-color: white;
    outline-color: white;
}

.search svg {
    margin: 0.7rem;
    color: rgb(218, 218, 218);
}

#search {
    outline: none;
	border: none;
    background-color: transparent;
    color:white;
    width: 30vw;
}

input[type="text"]::placeholder {
	color: rgb(218, 218, 218);
	font-size: 14px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user p {
    color: rgb(218, 218, 218);
    transition: color 300ms;
}

.user p:hover {
    color: white;
}

.user-bar {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:4px;
}

.unread {
    font-weight: bold;
}

::ng-deep .mat-badge-content {
    font-size: 12px;
    text-align: center;
}

.pfp-thumbnail {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.mat-mdc-menu-item .mat-icon {
    margin: 0;
    margin-right: 10px;
}

.nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toggle-button {
    display: none;
}

@media screen and (max-width: 900px) {
    .search {
        width: 15vw;
    }
}

@media screen and (max-width: 700px) {
    .nav-items {
        display: none;
    }
    .nav-container {
        justify-content: flex-end;
    }
    .toggle-button {
        display: block;
        border-radius: 12px;
        background: #000;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}