<main>
    <header>
        <a class="hover" routerLink="/we-challenge">See current weChallenge</a>
        <h1>Past Challenges</h1>
        <div></div>
    </header>
    <div class="side-bar">
        <h1>challenges sidebar goes here</h1>
    </div>
    <div class="challenge">
        <h2>weChallenge #</h2>
        <div class="prompt"></div>
        <p>Date range</p>
        <button id="we" type="submit">
            <p>Submit</p>
        </button>
    </div>
    <div class="posts-container">
        <h1>User Submissions</h1>
        <div class="posts"></div>
    </div>
</main>