main {
    display:flex;
    flex-direction: column;
}

content {
    display:flex;
    flex-flow: row wrap;
    width:100%;
}

p {
    margin:0.5em 3px;
}

header {
    background-color: #BBF1BA;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 1rem;
}

header h1 {
    margin:1rem;
}

.side-bar {
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:1rem;
    max-height:80vh;
    overflow: scroll;
}

.challenge {
    flex: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    text-align: center;
    background: linear-gradient(180deg, rgba(187, 241, 186, 0.58) 0%, rgba(187, 241, 186, 0.0348) 100%);
    max-height: 100vh;
    overflow: scroll;
}

.side-bar .we-prompt {
    width: 100%;
}

.num {
    margin: 0.5rem;
}

.prompt-info {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.past {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.clicked {
    background-color: #BBF1BA;
  }