<main>
    <header>
        <a class="underline-hover" routerLink="/we-challenge">See current weChallenge</a>
        <h1>Past Challenges</h1>
        <div></div>
    </header>
    <div class="side-bar">
        <h1>challenges sidebar goes here</h1>
        <div *ngFor="let challenge of (weChallenges$ | async)?.slice()?.reverse()">
            <div class="prompt we-prompt">
                <p> {{ challenge.adj }} {{ challenge.noun }} {{ challenge.verb }} {{ challenge.style }} {{ challenge.emotion }} </p>
                <div *ngIf="(challenge.colors).length > 0" class="colors">
                    <div class="color">
                      <div class="color-box" [ngStyle]="{'background-color': challenge.colors[0]}"></div>
                      <p id="hex">{{challenge.colors[0]}}</p>
                    </div>
                  </div>
                <p> {{ challenge.start | date: "MMM d, y" }} - {{ challenge.end | date: "MMM d, y" }}</p>
            </div>
        </div>
    </div>
    <div class="challenge">
        <h2>weChallenge #</h2>
        <div class="prompt we-prompt">
            <p class="prompt-title">Prompt:</p>
        </div>
        <p>Date range</p>
        <button id="we" type="submit">
            <p>Submit</p>
        </button>
    </div>
    <div class="posts-container">
        <h1>User Submissions</h1>
        <div class="posts"></div>
    </div>
</main>