<main>
    <header>
        <a class="underline-hover" routerLink="/we-challenge">See current weChallenge</a>
        <h1>Past Challenges</h1>
        <div></div>
    </header>
    <div class="side-bar">
        <div *ngFor="let challenge of (weChallenges$ | async)?.slice()?.reverse(); let i=index" (click)="onClick(challenge, i)">
            <div class="prompt we-prompt past" id="past" style="cursor:pointer;" [ngClass]="{clicked: selected === challenge || (selected.id === challenge.id && i === 0)}">
                <h2 class="num">#{{((weChallenges$ | async)?.length)! - i}}</h2>
                <div class="prompt-info">
                    <div class="prompt-content">
                        <p>{{ challenge.verb }} {{ challenge.adj }} {{ challenge.noun }} {{ challenge.style }} {{ challenge.emotion }} </p>
                        <div *ngIf="(challenge.colors).length > 0" class="colors">
                            <div class="color">
                            <div class="color-box" [ngStyle]="{'background-color': challenge.colors[0]}"></div>
                            <p id="hex">{{challenge.colors[0]}}</p>
                            </div>
                        </div>
                    </div>
                    <p> {{ challenge.start | date: "MMM d, y" }} - {{ challenge.end | date: "MMM d, y" }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="challenge">
        <h2>weChallenge #{{ newID }}</h2>
        <div class="prompt we-prompt">
            <div class="prompt-content">
                <p class="prompt-title">Prompt:</p>
                <div class="prompt-text">
                    <p *ngIf="(selected.adj) || (selected.noun) || (selected.verb)">{{selected.adj}} {{selected.noun}} {{selected.verb}}</p>
                    <p *ngIf="(selected.emotion)"> displaying "{{selected.emotion}}"</p>
                    <p *ngIf="(selected.style)"> in the style "{{selected.style}}"</p>
                </div>
                <div *ngIf="(selected.colors).length > 0" class="colors">
                    <div class="color">
                    <div class="color-box" [ngStyle]="{'background-color': selected.colors[0]}"></div>
                    <p id="hex">{{selected.colors[0]}}</p>
                    </div>
                </div>
            </div>
            <div class="icon" (click)="save(selected)" *ngIf="isLoggedin && !(saved[selected.id!])">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16" aria-label="Save challenge" id="save-icon">
                    <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                    <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
                </svg>
            </div>
            <div class="icon" (click)="unsave(selected)" *ngIf="isLoggedin && (saved[selected.id!])">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bookmarks-fill" viewBox="0 0 16 16">
                    <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"/>
                    <path d="M4.268 1A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L13 13.768V2a1 1 0 0 0-1-1H4.268z"/>
                </svg>
            </div>
        </div>
        <p> {{ selected.start | date: "MMM d, y" }} - {{ selected.end | date: "MMM d, y" }}</p>
        <button id="we" type="submit" *ngIf="isLoggedin" (click)="onSubmit()">
            <p>Submit</p>
        </button>
        <div class="posts-container">
            <h1>User Submissions</h1>
            <div class="posts"></div>
        </div>
    </div>
</main>