main {
    margin:1rem;
}

/* New thumbnail display */

.post-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns on large screens */
  grid-gap: 5px; /* margin between images */
}

.thumbnail {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 24vw;
  width: 24vw;
  position: relative;
  overflow: hidden;
}

.thumbnail:hover .overlay, .thumbnail:focus .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.73) 100%);
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.overlay h4 {
  margin: 0;
  color: white;
  font-size: 20px;
}

@media (max-width: 968px) { /* adjust for smaller screens */
    .post-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    }
    .thumbnail {
        height: 31vw;
        width: 31vw;
    }
}

@media (max-width: 576px) { /* adjust for even smaller screens */
    .post-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
}
    .thumbnail {
        height: 46vw;
        width: 46vw;
    }
}