<main>
    <div class="display-users" *ngIf="(users$ | async)?.length">
        <h2>Users matching "{{query}}"</h2>
    <!-- <a *ngFor="let user of users$ | async" [href]="'post/' + post.id"> -->
        <div *ngFor="let user of users$ | async" class="user-thumbnail">
            <img class="pfp-thumbnail" [src]="user.pfp" [alt]="user.displayName + ' profile picture'">
            <a [href]="'/'+user.displayName" class="underline-hover"> {{user.displayName}} </a>
        </div>
    </div>
    <div *ngIf="(posts$ | async)?.length">
        <h2>Posts matching "{{query}}"</h2>
        <div class="post-grid">
            <a class="thumbnail" *ngFor="let post of posts$ | async" [href]="'post/' + post.id" [style]="'background-image: url('+post.img+')'" [title]="post.title">
                <div class="overlay">
                    <div class="overlay-info">
                        <img class="pfp-thumbnail" [src]="getPfp(post) | async">
                        <div class="overlay-text">
                            <div class="thumbnail-title">{{post.title}}</div>
                            <div class="thumbnail-user">{{(getUsername(post) | async)}}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- <div class="display-challenges">
        <h2>Challenges2>
        <a *ngFor="let challenge of challenges$ | async">
            <img class="thumbnail" [src]="'/images/' + user.pfp">
        </a>
    </div> -->
    <div *ngIf="!((posts$ | async)?.length) && !((users$ | async)?.length)">
        <h2>No results matching "{{query}}"</h2>
    </div>
</main>
