main {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.tabs {
    margin:1rem;
    min-width: 70%;
    max-width: 90%;
}

.display-posts {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 80%;
}

.thumbnail {
    width: 33%;

}