<h1>Registration</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email">
      </div>

    <div>
      <label for="displayName">Username</label>
      <input id="displayName" type="text" formControlName="displayName">
    </div>
    
    <div>
      <label for="password">Password</label>
      <input id="password" type="text" formControlName="password">
    </div>

    <button class="button" type="submit">Register</button>
</form>

<hr>

<a routerLink="/">Home</a>