<main>
    <div *ngIf="(posts$ | async)?.length">
        <h2>Posts tagged as "{{query}}"</h2>
        <div class="post-grid">
            <a class="thumbnail" *ngFor="let post of posts$ | async" [href]="'post/' + post.id" [style]="'background-image: url('+post.img+')'">
                <div class="overlay">
                    <div>
                        <div class="thumbnail-title">{{post.title}}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div *ngIf="!((posts$ | async)?.length)">
        <h2>No results matching "{{query}}"</h2>
    </div>
</main>