<main>
    <div *ngIf="(posts$ | async)?.length">
        <h2>Posts tagged as "{{query}}"</h2>
        <div class="post-grid">
            <a class="thumbnail" *ngFor="let post of posts$ | async" [href]="'post/' + post.id" [style]="'background-image: url('+post.img+')'" [title]="post.title">
                <div class="overlay">
                    <div class="overlay-info">
                        <img class="pfp-thumbnail" [src]="getPfp(post) | async">
                        <div class="overlay-text">
                            <div class="thumbnail-title">{{post.title}}</div>
                            <div class="thumbnail-user">{{(getUsername(post) | async)}}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div *ngIf="!((posts$ | async)?.length)">
        <h2>No posts tagged as "{{query}}"</h2>
    </div>
</main>