<main>
    <div class="challenge">
        <h2>meChallenge</h2>
        <p>Make your own custom art challenge! Select different options and generate your challenge.</p>
        <form class="options" [formGroup]="form">
              <div>
                <mat-checkbox type="checkbox" formControlName="noun">Noun</mat-checkbox>
                <mat-checkbox type="checkbox" formControlName="verb">Verb</mat-checkbox>
                <mat-checkbox type="checkbox" formControlName="adj">Adj</mat-checkbox>
                <mat-checkbox type="checkbox" formControlName="emotion">Emotion</mat-checkbox>
                <mat-checkbox type="checkbox" formControlName="style">Style</mat-checkbox>
                <mat-checkbox type="checkbox" formControlName="colors">Colors</mat-checkbox>
              </div>
              <div>
                <button id="me" type="button" (click)="onGenerate()">
                  <p>Generate</p>
                </button>
              </div>
              <!-- <mat-progress-spinner *ngIf="generator === 'clicked'"
              [color]="color"
        [mode]="mode"
        [value]="value"></mat-progress-spinner> -->
          </form>
          <div *ngIf="(challenge)" class="prompt me-prompt">
            <p class="prompt-title">Prompt:</p>
            <div class="prompt-text">
              <p *ngIf="(challenge.adj) || (challenge.noun) || (challenge.verb)">{{challenge.adj}} {{challenge.noun}} {{challenge.verb}}</p>
              <p *ngIf="(challenge.emotion)"> displaying "{{challenge.emotion}}"</p>
              <p *ngIf="(challenge.style)"> in the style "{{challenge.style}}"</p>
            </div>
            <div *ngIf="(challenge.colors).length > 0" class="colors">
              <div class="color">
                <div class="color-box" [ngStyle]="{'background-color': challenge.colors[0]}"></div>
                <p id="hex">{{challenge.colors[0]}}</p>
              </div>
              <div class="color">
                <div class="color-box" [ngStyle]="{'background-color': challenge.colors[1]}"></div>
                <p id="hex">{{challenge.colors[1]}}</p>
              </div>
              <div class="color">
                <div class="color-box" [ngStyle]="{'background-color': challenge.colors[2]}"></div>
                <p id="hex">{{challenge.colors[2]}}</p>
              </div>
            </div>
            <button id="me" type="submit" (click)="onSubmit()">
              <p>Create Submission</p>
            </button>
          </div>
        <a *ngIf="user" class="underline-hover" routerLink="/profile">See saved challenges</a>
    </div>
    <div class="posts-container">
        <h1>See what others made</h1>
        <div class="display-posts">
          <!-- <a class="thumbnail" *ngFor="let post of (mePosts$ | async)" [ngStyle]="{'background-image':'url(/images/' + post.img + ')'}" [href]="'post/' + post.id"></a> -->
          <a *ngFor="let post of (mePosts$ | async)" [href]="'post/' + post.id">
            <img class="thumbnail" [src]="'/images/' + post.img">
          </a>
        </div>
    </div>
</main>