* {
    font-family: 'Overpass', sans-serif;
}

body {
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    scroll-behavior: smooth;
}