main {
    margin-bottom: 2rem;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin:0;
    font-size: 28px;
    line-height: 38px;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin:0.5em;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

p {
    font-family: 'Overpass', sans-serif;
    margin:0.5em;
}

#countdown {
    font-size: 24px;
}

.challenge {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    text-align: center;
    background: linear-gradient(180deg, rgba(187, 241, 186, 0.58) 0%, rgba(187, 241, 186, 0.0348) 100%);
}

button {
    border-radius: 29px;
    width:150px;
    height:50px;
    border: none;
    margin:1rem;
}

button p {
    font-size: 20px;
}

#we {
    background: #BBF1BA;
    transition: background 300ms;
}

#we:hover {
    background: #88EA86;
}

.posts-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    text-align: center;
    margin-top:2rem;
}