p, a {
    margin:0.5em;
}

#countdown {
    font-size: 24px;
}

.challenge {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    text-align: center;
    background: linear-gradient(180deg, rgba(187, 241, 186, 0.58) 0%, rgba(187, 241, 186, 0.0348) 100%);
}

.posts-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    text-align: center;
    margin-top:2rem;
}

.prompt svg {
    margin-left: 1rem;
}

.prompt {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.prompt-content {
    display:flex;
    align-items: center;
    flex-direction: column;
}