p, a {
    margin:0.5em;
}

#countdown {
    font-size: 24px;
}

.challenge {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    text-align: center;
    background: linear-gradient(180deg, rgba(187, 241, 186, 0.58) 0%, rgba(187, 241, 186, 0.0348) 100%);
}

.posts-container {
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top:2rem;
}

.display-posts {
    grid-template-columns: repeat(5, 1fr);
}

.thumbnail-container {
    width: 20vw;
    height: 20vw;
}

.thumbnail {
    transition: filter 0.5s ease-in-out;
    
}

.blurred img{
    filter: blur(8px);
}

.prompt svg {
    margin-left: 1rem;
}

.prompt {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.prompt-content {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.spoiler {
    border-radius: 29px;
    border: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    padding: 7px 20px 6px 20px;
    transition: all 300ms;
    font-size: 15px;
    cursor: pointer;
    background: #BBF1BA;
}