<main>
  <mat-card>
    <form class="upload" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-title>
          <h2>Upload Post</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <button id="neutral" type="button" formControlName="file" (click)="fileInput.click()" (change)="onFileSelected($event)">Choose File</button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file"> -->
        <!-- TODO: figure out how to make file input display file name on selection with a prettier button -->
        <input id="input-file-id" type="file" (change)="onFileSelected($event)">
  
        <!-- <button id="neutral" type="button" (click)="fileInput.click()">
          Choose File
        </button>
        <input
          hidden
          type="file"
          accept="image/*"
          #fileInput
          (change)="onFileSelected($event)"
        /> -->
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label for="posttitle">Title</mat-label>
          <input type="text" id="posttitle" formControlName="title" matInput placeholder="Ex. My Art">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label for="description">Description</mat-label>
          <textarea type="text" id="description" formControlName="description" matInput placeholder="Ex. This is how I interpreted the prompt..."></textarea>
        </mat-form-field>
        <mat-checkbox type="checkbox" formControlName="private">Post Privately</mat-checkbox>
      </mat-card-content>
      <mat-card-actions>
        <button id="we" type="submit">
          <p>Submit</p>
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</main>
