<main>
  <mat-card>
    <form class="upload" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-title>
          <h2>Upload Post</h2>
        </mat-card-title>
        <div *ngIf="(challenge$ | async) as challenge" class="prompt">
          <div class="prompt-content">
            <p class="prompt-title">Prompt:</p>
            <div class="prompt-text">
              <p *ngIf="(challenge.adj) || (challenge.noun) || (challenge.verb)">{{challenge.verb}} {{challenge.adj}} {{challenge.noun}} </p>
              <p *ngIf="(challenge.emotion)"> displaying "{{challenge.emotion}}"</p>
              <p *ngIf="(challenge.style)"> in the style "{{challenge.style}}"</p>
            </div>
            <div *ngIf="(challenge.colors).length > 0" class="colors">
              <div class="color" *ngFor="let color of challenge.colors">
                <div class="color-box" [ngStyle]="{'background-color': color}"></div>
                <p id="hex">{{color}}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label for="file">Paste image URL</mat-label>
          <input type="text" id="file" formControlName="file" matInput placeholder="URL ending in a file type">
          <mat-error *ngIf="form.get('file')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label for="posttitle">Title</mat-label>
          <input type="text" id="posttitle" formControlName="title" matInput placeholder="Ex. My Art">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label for="description">Description</mat-label>
          <textarea type="text" id="description" formControlName="description" matInput placeholder="Ex. This is how I interpreted the prompt..."></textarea>
        </mat-form-field>
        <mat-checkbox type="checkbox" formControlName="private">Post Privately</mat-checkbox>
      </mat-card-content>
      <mat-card-actions>
        <button id="neutral" type="submit">
          <p>Submit</p>
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</main>
